[submodule "src/fftbor2d"]
	path = src/fftbor2d
	url = https://github.com/evansenter/fftbor.git
[submodule "src/mfpt"]
	path = src/mfpt
	url = https://github.com/evansenter/rna_mfpt.git
[submodule "src/spectral"]
	path = src/spectral
	url = https://github.com/evansenter/rna_spectral.git
